nav {
   display: flex;
   flex-direction: row;
   height: 150px;
   margin: 0 auto;
   align-items: center;
   font-size: 1.44rem;
   color: var(--global-font-color);
   width: 84%;
   font-family: sans-serif;
   font-weight: 300;
}

a {
   display: inline;
   color: inherit;
}

a:-webkit-any-link {
   color: inherit;
}

ul {
   padding: 0;
}

ul li {
   display: inline;
   padding-right: 2.4rem;
}

ul li a {
   text-decoration: none;
}

ul li a:visited {
   color: inherit;
}

.off-site {
   flex: 1;
   text-align: end;
}

.off-site li:last-child {
   padding-right: 0;
}

.logo-wrapper {
   flex: 1;
   text-align: center;
}

.logo--link {
   position: absolute;
   top: 35px;
   left: 50%;
   right: 50%;
}

.logo--image {
   height: 78px;
   transform: translate(-50%);
}

@media screen and (max-width: 1024px) {
   nav {
      --logo-height: 102px;
      position: relative;
      margin-top: 0.9rem;
   }

   .logo--link {
      top: 18px;
   }

   .logo--image {
      height: var(--logo-height);
   }
}

@media screen and (max-width: 425px) {
   nav {
      margin-top: 0;
      height: 120px;
   }

   ul li a img {
      display: none;
   }

   .logo--link {
      top: 18px;
   }

   .logo--image {
      height: 81px;
   }
}
