.on-site {
   display: flex;
   flex: 1;
   align-items: flex-start;
}

@media screen and (max-width: 1024px) {
   .on-site {
      position: absolute;
      margin-top: calc(var(--logo-height));
      left: 50%;
      transform: translate(-50%);
      display: flex;
      flex-direction: column;
      max-height: 0;
      top: 0;
      overflow: hidden;
      transition-duration: 0.3s;
      transition-timing-function: linear;
   }

   .on-site.active {
      max-height: 400px;
      transition-duration: 0.3s;
      transition-timing-function: linear;
   }

   .on-site li {
      text-align: center;
      margin: 0 auto;
      margin-top: 1rem;
      padding: 0;
   }
}

@media screen and (max-width: 425px) {
   .on-site {
      margin-top: 90px;
   }
}
