html {
   --global-color: #f5f2f2;
   --global-font-color: #3f3f3f;
}

body {
   position: relative;
   margin: 0;
   background-color: #efefef;
   background: radial-gradient(
      ellipse 84% 111% at 69% 54%,
      rgba(177, 179, 190, 60%) 0%,
      rgba(255, 255, 255, 0.15) 100%
   );
   min-height: 100vh;
   font-family: "Lato", sans-serif;
   color: var(--global-font-color);
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   height: fit-content;
}

@media screen and (max-width: 768px) {
   body {
      font-size: 14px;
   }
}
